#**Import Libraries & Dataset Loading**

In [75]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
%matplotlib inline
from sklearn.preprocessing import StandardScaler

In [76]:
#Load Dataset
drug=pd.read_csv('Accidental_Drug_Related_Deaths.csv')

In [77]:
#Copy Dataset
ddeath=drug.copy()
ddeath.head(5)

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"

#**Dataset Description**

In [78]:
#Number of Rows and Columns
drug.shape

(11981, 48)

In [79]:
#Knowing about all Data Types of all columns
drug.dtypes

Date                              object
Date Type                         object
Age                              float64
Sex                               object
Race                              object
Ethnicity                         object
Residence City                    object
Residence County                  object
Residence State                   object
Injury City                       object
Injury County                     object
Injury State                      object
Injury Place                      object
Description of Injury             object
Death City                        object
Death County                      object
Death State                       object
Location                          object
Location if Other                 object
Cause of Death                    object
Manner of Death                   object
Other Significant Conditions      object
Heroin                            object
Heroin death certificate (DC)     object
Cocaine                           object
Fentanyl                          object
Fentanyl Analogue                 object
Oxycodone                         object
Oxymorphone                       object
Ethanol                           object
Hydrocodone                       object
Benzodiazepine                    object
Methadone                         object
Meth/Amphetamine                  object
Amphet                            object
Tramad                            object
Hydromorphone                     object
Morphine (Not Heroin)             object
Xylazine                          object
Gabapentin                        object
Opiate NOS                        object
Heroin/Morph/Codeine              object
Other Opioid                      object
Any Opioid                        object
Other                             object
ResidenceCityGeo                  object
InjuryCityGeo                     object
DeathCityGeo                      object
dtype: object

In [80]:
#Listing down Columns
drug.columns

Index(['Date', 'Date Type', 'Age', 'Sex', 'Race', 'Ethnicity',
       'Residence City', 'Residence County', 'Residence State', 'Injury City',
       'Injury County', 'Injury State', 'Injury Place',
       'Description of Injury', 'Death City', 'Death County', 'Death State',
       'Location', 'Location if Other', 'Cause of Death', 'Manner of Death',
       'Other Significant Conditions ', 'Heroin',
       'Heroin death certificate (DC)', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Meth/Amphetamine',
       'Amphet', 'Tramad', 'Hydromorphone', 'Morphine (Not Heroin)',
       'Xylazine', 'Gabapentin', 'Opiate NOS', 'Heroin/Morph/Codeine',
       'Other Opioid', 'Any Opioid', 'Other', 'ResidenceCityGeo',
       'InjuryCityGeo', 'DeathCityGeo'],
      dtype='object')

In [81]:
#Dataset Info Display
drug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11981 entries, 0 to 11980
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           11981 non-null  object
 1   Date Type                      11981 non-null  object
 2   Age                            11979 non-null  float64
 3   Sex                            11972 non-null  object
 4   Race                           11924 non-null  object
 5   Ethnicity                      2565 non-null   object
 6   Residence City                 11385 non-null  object
 7   Residence County               10721 non-null  object
 8   Residence State                9993 non-null   object
 9   Injury City                    11803 non-null  object
 10  Injury County                  8647 non-null   object
 11  Injury State                   8952 non-null   object
 12  Injury Place                   11623 non-null  object
 13  Description of Injury          11174 non-null  object
 14  Death City                     9197 non-null   object
 15  Death County                   8090 non-null   object
 16  Death State                    6873 non-null   object
 17  Location                       10632 non-null  object
 18  Location if Other              1194 non-null   object
 19  Cause of Death                 11981 non-null  object
 20  Manner of Death                11972 non-null  object
 21  Other Significant Conditions   1199 non-null   object
 22  Heroin                         3578 non-null   object
 23  Heroin death certificate (DC)  740 non-null    object
 24  Cocaine                        4578 non-null   object
 25  Fentanyl                       8049 non-null   object
 26  Fentanyl Analogue              974 non-null    object
 27  Oxycodone                      1016 non-null   object
 28  Oxymorphone                    162 non-null    object
 29  Ethanol                        3201 non-null   object
 30  Hydrocodone                    169 non-null    object
 31  Benzodiazepine                 2717 non-null   object
 32  Methadone                      1078 non-null   object
 33  Meth/Amphetamine               127 non-null    object
 34  Amphet                         431 non-null    object
 35  Tramad                         302 non-null    object
 36  Hydromorphone                  77 non-null     object
 37  Morphine (Not Heroin)          59 non-null     object
 38  Xylazine                       1078 non-null   object
 39  Gabapentin                     469 non-null    object
 40  Opiate NOS                     127 non-null    object
 41  Heroin/Morph/Codeine           2202 non-null   object
 42  Other Opioid                   222 non-null    object
 43  Any Opioid                     8947 non-null   object
 44  Other                          786 non-null    object
 45  ResidenceCityGeo               11814 non-null  object
 46  InjuryCityGeo                  11724 non-null  object
 47  DeathCityGeo                   11980 non-null  object
dtypes: float64(1), object(47)
memory usage: 4.4+ MB

In [82]:
#Displaying Head of the Dataset
drug.head(20)

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"
5,06/13/2017,Date reported,57.0,Male,White,NaN,BLANDFORD,HAMPDEN,MA,ENFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ENFIELD, CT\n(41.976501, -72.591985)","Enfield, CT\n(41.976501, -72.591985)"
6,10/20/2015,Date reported,26.0,Male,White,NaN,DANBURY,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"DANBURY, CT\n(41.393666, -73.451539)","DANBURY, CT\n(41.393666, -73.451539)","Danbury, CT\n(41.393666, -73.451539)"
7,2/2/2017,Date reported,64.0,Male,White,NaN,MILFORD,NEW HAVEN,CT,MILFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MILFORD, CT\n(41.224276, -73.057564)","MILFORD, CT\n(41.224276, -73.057564)","Milford, CT\n(41.224276, -73.057564)"
8,7/3/2018,Date of death,33.0,Male,NaN,NaN,NaN,NaN,NaN,HARTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CT\n(41.575155, -72.738288)","HARTFORD, CT\n(41.765775, -72.673356)","Hartford, CT\n(41.765775, -72.673356)"
9,5/8/2013,Date of death,23.0,Male,White,NaN,BETHEL,FAIRFIELD,NaN,BETHEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BETHEL, CT\n(41.371727, -73.407448)","BETHEL, CT\n(41.371727, -73.407448)","Bethel, CT\n(41.371727, -73.407448)"
10,01/14/2017,Date reported,54.0,Male,White,NaN,MERIDEN,NEW HAVEN,CT,UNKNOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MERIDEN, CT\n(41.537589, -72.8011)",NaN,"Middletown, CT\n(41.544654, -72.651713)"
11,08/17/2012,Date of death,45.0,Female,White,NaN,MANSFIELD,TOLLAND,NaN,MANSFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MANSFIELD, CT\n(41.765926, -72.233779)","MANSFIELD, CT\n(41.765926, -72.233779)","Mansfield, CT\n(41.765926, -72.233779)"
12,11/10/2015,Date reported,64.0,Male,White,NaN,IVORYTON,MIDDLESEX,CT,IVORYTON,...,NaN,NaN,NaN,Y,NaN,Y,NaN,"IVORYTON, CT\n(41.348301, -72.439697)","IVORYTON, CT\n(41.348301, -72.439697)","Ivoryton, CT\n(41.348301, -72.439697)"
13,08/23/2015,Date reported,21.0,Male,White,NaN,BETHANY,NEW HAVEN,CT,UNKNOWN,...,NaN,NaN,NaN,Y,NaN,Y,NaN,"BETHANY, CT\n(41.428339, -72.994834)",NaN,"Bethany, CT\n(41.428339, -72.994834)"
14,06/21/2014,Date of death,41.0,Male,White,NaN,ENFIELD,NaN,NaN,ENFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ENFIELD, CT\n(41.976501, -72.591985)","ENFIELD, CT\n(41.976501, -72.591985)","Enfield, CT\n(41.976501, -72.591985)"
15,04/21/2012,Date of death,48.0,Male,White,Hispanic,MERIDEN,NEW HAVEN,NaN,MERIDEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MERIDEN, CT\n(41.537589, -72.8011)","MERIDEN, CT\n(41.537589, -72.8011)","Meriden, CT\n(41.537589, -72.8011)"
16,03/13/2016,Date of death,30.0,Female,White,NaN,SANDY HOOK,FAIRFIELD,CT,UNKNOWN,...,NaN,NaN,NaN,Y,NaN,Y,NaN,"SANDY HOOK, CT\n(41.419998, -73.282501)",NaN,"Danbury, CT\n(41.393666, -73.451539)"
17,5/1/2012,Date of death,49.0,Male,White,NaN,BRISTOL,HARTFORD,NaN,BRISTOL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)","Bristol, CT\n(41.673037, -72.945791)"
18,2/7/2013,Date of death,26.0,Female,White,NaN,WATERFORD,NEW LONDON,NaN,WATERFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"WATERFORD, CT\n(41.342158, -72.125831)","WATERFORD, CT\n(41.342158, -72.125831)","New London, CT\n(41.355167, -72.099561)"
19,12/26/2019,Date of death,39.0,Male,White,Hispanic,NaN,NaN,NaN,HARTFORD,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"CT\n(41.575155, -72.738288)","HARTFORD, CT\n(41.765775, -72.673356)","Hartford, CT\n(41.765775, -72.673356)"

In [83]:
#Listing Missing Values
drug.isnull().sum()

Date                                 0
Date Type                            0
Age                                  2
Sex                                  9
Race                                57
Ethnicity                         9416
Residence City                     596
Residence County                  1260
Residence State                   1988
Injury City                        178
Injury County                     3334
Injury State                      3029
Injury Place                       358
Description of Injury              807
Death City                        2784
Death County                      3891
Death State                       5108
Location                          1349
Location if Other                10787
Cause of Death                       0
Manner of Death                      9
Other Significant Conditions     10782
Heroin                            8403
Heroin death certificate (DC)    11241
Cocaine                           7403
Fentanyl                          3932
Fentanyl Analogue                11007
Oxycodone                        10965
Oxymorphone                      11819
Ethanol                           8780
Hydrocodone                      11812
Benzodiazepine                    9264
Methadone                        10903
Meth/Amphetamine                 11854
Amphet                           11550
Tramad                           11679
Hydromorphone                    11904
Morphine (Not Heroin)            11922
Xylazine                         10903
Gabapentin                       11512
Opiate NOS                       11854
Heroin/Morph/Codeine              9779
Other Opioid                     11759
Any Opioid                        3034
Other                            11195
ResidenceCityGeo                   167
InjuryCityGeo                      257
DeathCityGeo                         1
dtype: int64

#**Dataset Exploration**

**Value Counts**

In [84]:
drug['Date'].value_counts()

Date
05/27/2021    12
11/19/2021    11
08/24/2021    11
02/15/2021    10
09/17/2022    10
              ..
07/17/2016     1
02/20/2021     1
11/26/2017     1
06/18/2012     1
7/4/2023       1
Name: count, Length: 3877, dtype: int64

In [85]:
drug['Date Type'].value_counts()

Date Type
Date of death    10214
Date reported     1767
Name: count, dtype: int64

In [86]:
drug['Sex'].value_counts()

Sex
Male       8887
Female     3082
Unknown       2
X             1
Name: count, dtype: int64

In [87]:
drug['Race'].value_counts()

Race
White                                                       10080
Black or African American                                     826
Black                                                         809
Unknown                                                        62
Other                                                          52
Asian Indian                                                   26
Asian, Other                                                   24
Other (Specify)                                                13
Other Asian                                                    12
Asian/Indian                                                    5
Asian                                                           2
white                                                           2
Chinese                                                         2
Other Asian (Specify)                                           1
Korean                                                          1
Native American, Other                                          1
Hawaiian                                                        1
American Indian or Alaska Native                                1
Other (Specify) Haitian                                         1
Other (Specify) portugese, Cape Verdean                         1
Other (Specify) Puerto Rican                                    1
Black or African American / American Indian Lenni Lenape        1
Name: count, dtype: int64

In [88]:
drug['Injury Place'].value_counts()

Injury Place
Residence                6188
Home                     1781
Other                     775
Hotel or Motel            491
Other Specified Place     368
                         ...
School, Trade               1
Multiple Locations          1
Other, Farm or Ranch        1
Residential building        1
Motel/Hotel                 1
Name: count, Length: 99, dtype: int64

In [89]:
drug['Location'].value_counts()

Location
Residence                     4799
Hospital                      2336
Other                         1559
Decedent’s Home                776
Hospital - ER/Outpatient       401
Other (Specify)                362
Hospital - Inpatient           246
Hospital - Dead On Arrival      81
Decedent's Home                 52
Nursing Home                     9
Convalescent Home                3
Hospice                          3
Assisted Living                  2
Shelter                          1
Hiospital                        1
Hospice Facility                 1
Name: count, dtype: int64

In [90]:
drug['Location'].value_counts()

Location
Residence                     4799
Hospital                      2336
Other                         1559
Decedent’s Home                776
Hospital - ER/Outpatient       401
Other (Specify)                362
Hospital - Inpatient           246
Hospital - Dead On Arrival      81
Decedent's Home                 52
Nursing Home                     9
Convalescent Home                3
Hospice                          3
Assisted Living                  2
Shelter                          1
Hiospital                        1
Hospice Facility                 1
Name: count, dtype: int64

**Unique Entries**

In [91]:
drug['Ethnicity'].unique()

array([nan, 'Hispanic', 'Other Spanish/Hispanic/Latino',
       'Spanish/Hispanic/Latino', 'No, not Spanish/Hispanic/Latino',
       'Not Spanish/Hispanic/Latino', 'Unknown',
       'Yes, Other Spanish/Hispanic/Latino (Specify)', 'Puerto Rican',
       'Yes, other Spanish/Hispanic/Latino', 'Yes, Puerto Rican',
       'Mexican, Mexican American, Chicano', 'Cuban',
       'Yes, Mexican, Mexican American, Chicano'], dtype=object)

In [92]:
drug['Description of Injury'].unique()

array(['Used Cocaine', 'Drug Use', nan, 'Drug abuse', 'Ingestion',
       'Inhalation', 'Substance abuse', 'Used Heroin', 'Substance Abuse',
       'Cocaine use', 'Injection', 'Substance Use', 'Used Oxycodone',
       'Substance use', 'Drowned In Hot Tub While Intoxicated',
       'Ingested drugs', 'Used Multiple Medications, Alcohol',
       'Substance abuse.', 'Prescription Medicine Abuse',
       'prescription  misuse', 'Drug use', 'substance abuse',
       'Ingested medicines', 'Used fentanyl', 'Used Heroin and Cocaine',
       'Excessive ingestion of alcohol and prescribed medications',
       'SUBSTANCE ABUSE', 'Alcohol and prescription fentanyl overuse',
       'Took prescription medications',
       'Combined medication and substance ingestion', 'Drug Abuse',
       'Took Medication', 'Used Multiple Medications',
       'Took non-prescription synthetic opioid',
       'Ingested medications and ethanol',
       'Acute and chronic alcohol/substance use disorder', 'drug use',
       'Used illicit drugs', 'multiple drug use', 'Used Drugs',
       'Took drugs', 'Multiple Drug Use',
       'Used multiple medications and cocaine', 'Usage of Multiple Drugs',
       'Intravenous drug abuse', 'Heroin Overdose', 'Took Medications',
       'Combined Alcohol and Medications',
       'Combined Medication with Alcohol', 'Used alcohol and mitragynine',
       'Recent cocaine use', 'Accidental Drug Overdose',
       'Usage of Cocaine and Heroin', 'substance abuse (injection)',
       'ingested ethanol and medications', 'Ingestion/Inhalation',
       'Excessive ingestion of prescribed medications and alcohol',
       'Acute and Chronic Substance Abuse', 'Abused medication',
       'Medication and alcohol abuse', 'Took Fentanyl and Ethanol',
       'ingestion', 'Consumed ethanol with prescription medications',
       'Ingested prescription medication', 'MEDICATION/OPIATE ABUSE',
       'Ingested medication', 'Took Medication with Alcohol',
       'Used prescription medications', 'Used cocaine', 'Took fentanyl',
       'Acute and chronic substance use disorder',
       'Ingested Pills with Alcohol', "Took another person's medication",
       'Substance sue', 'Substance Abuse Including Intravenous Injection',
       'Used illicit drugs and alcohol', 'Used Medications and Alcohol',
       'SUBSTANCE  ABUSE', 'Used Opiates', 'Inhalation/Injection',
       'Alcohol and substance abuse', 'Substance abuse)',
       'Used illicit and prescription drugs', 'Consumed fentanyl',
       'Prescription Medication Abuse', 'Took prescribed medication',
       'Inhalation/Ingestion', 'Acute Heroin Toxicity',
       "Took prescribed and other's medications",
       'Drug and ethanol abuse', 'Took fentanyl and ethanol',
       'Substance and medication use',
       'Ingested Multiple Medications and Alcohol',
       'combined alcohol and medication', 'Combined ethanol and opiate',
       'Heroin use', 'Combined Medications with Alcohol',
       'Ethanol and drug abuse', 'Ingested ethanol and a benzodiazepine',
       'took prescription medication',
       'Acute and chronic substance abuse',
       'Exposed to Cold while Intoxicated', 'Ingested medications',
       'Used drugs and ingested drug packets',
       'acute and chronic substance abuse', 'Substances Abuse',
       'used methadone', 'Used Fentanyl',
       'Acute and Chronic Substance Use',
       'Ingested medications and alcohol',
       'Abused prescription medications', 'Prescription drug use',
       'Injection and Ingestion', 'Injection/Skin Absorption',
       'Acute and chronic substance use',
       'took personal methadone in addition to inpatient medical pain therapy',
       'Medication abuse', 'Used Heroin/Opiates', 'Dermal Absorption',
       'Used Morphine and Ethanol', 'Took Multiple Medications',
       'Drug and Alcohol Abuse', 'Alcohol and Benzodiazepine use',
       'Ingestion of Pills', 'Ingested multiple medications',
       'Took prescribed medications', 'Fentanyl and Benzodiazepine Use',
       'Took medications', 'Substance use disorder',
       'Consumed methadone and ethanol',
       'Toxic effects of ethanol and fentanyl', 'opiate use',
       'Used opiates', 'ACUTE AND CHRONIC SUBSTANCE USE DISORDER',
       'injection', 'Took prescription medication',
       'Used fentanyl and ethanol', 'Took Drugs',
       'medication and alcohol use', 'Alcohol and Medication Ingestion',
       'Drug use including fentanyl and cocaine', 'Ingested Medications',
       'Abuse of Medications', 'Ingestion of Prescription Medication',
       'Opiate and Buprenorphine Use', 'Ingested Alcohol and Medications',
       'Substance abuse of prescribed medications',
       'Took medications and alcohol', 'Fentanyl Use',
       'Consumed Prescription Medication',
       'Alcohol ingestion and medication use', 'took medication',
       'Used Methadone And Benzodiazapines', 'Abuse of Medication',
       'Misuse of Medications', 'Submerged in bathtub while intoxicated',
       'Ingestion of Medications', 'Used Medications and Ethanol',
       'Used Cocaine and Morphine', 'Ingested Oxycodone and Alcohol',
       'Used Medications',
       'Intravenously Infused Non-Prescribed Medication',
       'Used Cocaine and Heroin', 'Combined alcohol and medication',
       'Used oxycodone', 'Mixed alcohol and pills', 'Substance',
       'Drowned In Bathtub', 'took pills and alcohol', 'Overdose',
       'Intravenous Drug Abuse', 'Used Fentanyl Patches', 'Opiate Use',
       'heroin use', 'Multiple drug use',
       'Alcohol and medication/substance abuse',
       'Used Methanone and Ethanol',
       'Drank Alcohol to Excess While on Prescription Medications',
       'Transdermal Absorption', 'Ingested alcohol with medication',
       'Ingested Prescription Medications', 'ingested medications',
       'Huffed Propellant', 'Used Methadone', 'substance',
       'Took Medications With Alcohol', 'Took opiate', 'USED MORPHINE',
       'Used Methamphetamine', 'Abuse of medications.',
       'Ingested Alcohol with Opioid Medication Prescribed to Another',
       'Methadone use', 'Cocaine Use', 'Ingested ethanol with medication',
       'Injected Crushed Pills into Peripherally Inserted Central Catheter (PICC)',
       'OPIATE AND BENZODIAZEPINE USE',
       'Consumed illicit drug with ethanol', 'Consumed medications',
       'Collapsed with trash can and plastic bag over face while intoxicated.',
       'Ingested Medication Prescribed to Another',
       'Ingested medicine with alcohol',
       'Consumed ethanol with prescribed medications',
       'Acute and chronic alcohol/substance abuse',
       'Ingested Prescription Medication and Alcohol',
       'Immersion in water while intoxicated',
       'Took prescription-type medications', 'alcohol abuse',
       'Used prescription and over-the-counter medications',
       'USED MULTIPLE MEDICATIONS', 'Ingested prescribed medications',
       'Opiate and Alcohol Abuse', 'combined alcohol and medications',
       'Abused medications',
       'Took prescription medications, synthetic opioid, and ethanol',
       'Substance Abuse (Injection)', 'Inhaling 1,1-DIFLUOROETHANE',
       'INGESTED MEDICATIONS', 'Used Cocaine, Heroin and Fentanyl',
       'Ingested medications, alcohol', 'Drug and alcohol abuse',
       'Toxic effects of ethanol and prescription medications',
       'Used Oxymorphone', 'Ingested prescription medications',
       'Submerged in Water While Intoxicated', 'Took Opioids',
       'Ingested Narcotic and Sedating Medications with Alcohol',
       'substance abuse and fall', 'Heroin Use', 'Used Multiple Drugs',
       'Took oxycodone and alcohol', 'Unknown',
       'Chewed fentanyl patches, took medications',
       'Alcohol and Substance Abuse', 'Used drugs and alcohol', 'Abuse',
       'Took cocaine', 'Medication Misuse',
       'prescription medication abuse',
       'Combined ethanol with medicaments', 'Oxycodone Ingestion',
       'Ingestion of medications', 'Prolonged Exposure to Cold',
       'Inhalation; Ingestion', 'Used Medications with Alcohol',
       'Consumed ethanol and buprenorphine', 'Took ethanol and fentanyl',
       'Drank Alcohol and Took Prescription Medications',
       'Injection/Ingestion',
       'Took illicit drug with prescribed medications',
       'Used ethanol and methadone', 'Took Prescription Medications',
       'Used Methadone and Hydrocodone', 'Subsatnce abuse',
       'Took ethanol with medications', 'Ingested Multiple Medications',
       'Combined Medication Alcohol', 'Prescription Medicine Misuse',
       'Used Methadone and an Opiate',
       'USED HYDROCODONE SYRUP AND DIPHENHYDRAMINE',
       'Substance Abuse Including Injection of Heroin',
       'Substance Abuse and Attempted Resuscitation',
       'Substance Abuse Including Intravenous Drug Abuse',
       'Ingested Narcotic Medications with Alcohol',
       'Swallowed bag of drug while in police custody',
       'Took medicine with alcohol', 'took prescription medications',
       'Used Opiates and Ethanol', 'DrugUse',
       'prescription medicine abuse', 'Combined Alcohol and Medication',
       'Misuse of Fentanyl Patch', 'Abuse of medication',
       'Took ethanol, illicit drug, and prescription drugs',
       'Ingested ethanol with prescription medications',
       'Used Above Substances', 'Medication overuse',
       'Inhalation and Ingestion', 'Used Opiates and Cocaine',
       'ingested pills', 'Substance Abuse Including Intravenous Use',
       'Submerged in Bathtub while Intoxicated', 'Transdermal',
       'Methadone and Cocaine', 'Took Fentanyl',
       'Substance Abuse and Exposure to Sun', 'Used Heroin and Opiates',
       'Used medications and alcohol', 'Prescription drug overuse',
       'Opiate and Benzodiazapine', 'Opiate use',
       'Toxic effects of fentanyl',
       "Ingestion of Another Person's Buprenorphine",
       'Ingested Methadone Prescribed to Another', 'Misuse of medication',
       'Intradermal Absolution', 'used heroin',
       "Took other's and own prescribed medications",
       'Excessive use of medications', 'inhalant abuse',
       'Substance Abuse including intravenous administration of fentanyl',
       'Skin Absorption', 'prescription medicine misuse',
       'Excessive use of prescribed medications',
       'Prescription Medication',
       'used alcohol and prescription medications', 'Drug, Alcohol Use',
       'Used Heroin and Benzodiazepines',
       'Took Medications including Medications Belonging to Another',
       'Prescription Misuse', 'Alcohol Medications',
       'Consumed ethanol with prescribed medication',
       'Used Medications, Alcohol', 'substance abuse, injection',
       'injected Fentanyl', 'Exposure to cold', 'Residence',
       'Ingested Alcohol, Diazapam', 'Prescription Abuse',
       'Used Heroin, Cocaine and Hydrocodone', 'Used prescription drugs',
       'Used multiple medications', 'Smoked cocaine',
       'Took Prescription Drugs', 'Medication Abuse',
       'Took ethanol and prescription medications', 'Heroin Intoxication',
       'Cocaine Intoxication', 'Used medications',
       'Inhaled isopropyl nitrite while using gas mask',
       'COLLAPSED WHILE INTOXICATED AND COMPRESSED NECK WITH FENCE',
       'Alcohol and Medication', 'USED COCAINE',
       'Used heroin and ethanol', 'Used Oxycodone and Cocaine',
       'Ingested Opiod', 'Took multiple medications', 'took Fentanyl',
       'Ingested alcohol and medications',
       'Took ethanol and prescription medication',
       'Consumed prescription medications and ethanol',
       'Used Oxycodone in combination with  other medications',
       'ingested prescription opioid pills with alcohol',
       'Drug abuse while traveling in vehicle',
       'Combined Methadone and Benzodiazapine Use',
       'used multiple medications', 'Medication and Alcohol Use',
       'Submerged in bathtub while under the influence of illicit drugs',
       'Combined ethanol with prescribed medications',
       'Used buprenorphine and ethanol',
       'Abuse of Prescribed and Illicit Drugs',
       'Ingested medications with alcohol.', 'Opiate Overdose',
       'Ingested pills',
       'Injected Prescription Medications and Crushed Pills',
       'Abuse of Inhalants', 'Used Opiates and Alcohol', 'Inhalant Abuse',
       'Used Opiates and PCP', 'Medications and Alcohol',
       'Medication Alcohol Abuse', 'used Fentanyl', 'Used methadone',
       'Used Hydrocodone', "Took another person's methadone",
       'Ingested Drugs', 'Took drugs and inhaled aerosolized chemicals',
       'ingested multiple pain medications', 'Used tianeptine',
       'Prescription Medication Misuse',
       'Submerged face in water while intoxicated',
       'Ingested alcohol combined with medications', 'Fentanyl Toxicity',
       'Abused Medications',
       'Ingested Methadone Prescribed to Another Person with Own Prescription Medications',
       'Substance  abuse', 'Took ethanol and prescribed medications',
       'substance abuse associated with prescribed Tramadol use',
       'Excessive ingestion of medications',
       'ingested medication and alcohol', 'cocaine use',
       'Used oxycodone and alcohol',
       'Combined Medication and Ethanol Toxicity',
       'Multiple Drug Toxicity',
       'Took alcohol and prescription medications',
       'Drug and Ethanol Abuse', 'Misuse of Prescription Medications',
       'Medication, Alcohol Use', 'Ingestion of Medications with Alcohol',
       'Consumed oxycodone', 'abuse of medication', 'Ingestion of Drugs',
       'Environmental Exposure and Substance Abuse',
       'substance abuse including intravenous drug use', 'Used opioid(s)',
       'Took Amphetamine', 'Took oxycodone', 'Used Cocaine and Opiates',
       'Took Drugs While in Hot Tub', 'ingested medications with ethanol',
       'Used Multiple Medications/Substances', 'Used Methadone, Cocaine',
       'ALCOHOL MEDICATION ABUSE', 'Methadone Use',
       'Used prescription and over-the-counter drugs',
       'Took alcohol and medications', 'Inhalation, Ingestion',
       'USED FENTANYL AND ALCOHOL', 'Skin Absorption/Inhalation',
       'Consumed ethanol and prescription medication',
       'Bathing in Hot Tub While Intoxicated',
       'Inhalation of Aerosol Dusting Spray', 'Injection/Inhalation',
       'Used substances including medication prescribed to another',
       'Acute and chronic alcohol use disorder',
       'Ingestion of pills and ethanol', 'Took drug',
       'Used prescription medications and ethanol',
       'Ingestion and huffing',
       'Ingested Narcotic Medications and Alcohol',
       'Used Drugs and Alcohol',
       'Consumed prescribed medications and over the counter medications',
       'Mixed Alcohol and Medications', 'Took Medications with Alcohol',
       'Mixed Alcohol and Medication',
       'Consumed ethanol and prescribed medications',
       'Ingestion of hand sanitizer',
       'Ingested Alcohol with Prescription Medications',
       'Took drugs and alcohol', 'Dug Use', 'Substance Use Disorder',
       'Used fentanyl and cocaine',
       'Excessive use of medications and alcohol',
       'Used drugs including fentanyl', 'misuse of medications',
       'Drug use and medication misuse', 'Used drugs and ethanol',
       'Used Cocaine and Fentanyl', 'used drugs including fentanyl',
       'Misuse of medications', 'DRUG USE AND MEDICATION MISUSE',
       'Drug use and misuse of medications', 'Fentanyl and Cocaine use',
       'Ethanol and medication misuse)', 'Drug and ethanol use',
       'Substance and ethanol use', 'Used medication',
       'Used Drugs and Ethanol', 'Used Illicit Substances',
       'Misuse of oxycodone', 'drug and ethanol use', 'Inhalant use',
       'Ingested Alcohol and Excess Medications',
       'Ingested Excess Medications', 'DRUG USE', 'Drug and Ethanol Use',
       'substance use', 'Environmental exposure while intoxicated',
       'acute and chronic substance use disorder', 'Used drugs',
       'Drug and Medication Misuse',
       'Ingested Alcohol and Sedating Medications',
       'Illicit and Prescribed Drug Administration',
       'Excessive use of medication', 'Fentanyl and Cocaine Use',
       'Prescription medication misuse',
       'Excessive use of medication and alcohol', 'Medication misuse',
       'Drug and Medication Abuse', 'Substance and ethanol abuse',
       'Overuse of medications', 'Misuse of prescription medications',
       'Ingestion of drugs', 'Heroin and Ethanol Use',
       'Ingested alcohol with medications',
       'Used prescription medication',
       'Excessive use of alcohol and medications',
       'Mixed Medications and Alcohol', "Other's Home, Driveway",
       'Took methadone', 'Used Sedating Medications and Alcohol',
       'Intravenous Substance Use',
       'Environmental Exposure While Intoxicated',
       'Misuse of Alcohol and Medications', 'Used cocaine and ethanol',
       'Substance Absue', 'Ijfected Crushed Medications',
       'Heroin use and misuse of medications',
       'Used Drugs Including Fentanyl', 'Substance Abuse and Hypothermia',
       'Used cocaine and fentanyl',
       'Drug Use including fentanyl and cocaine',
       'Drug use including fentanyl', 'Used Amphetamine',
       'Drug Use and Medication Misuse',
       'Acute Intoxication due to the Combined Effects of Cocaine, Phencyclidine, and Fentanyl',
       'Used Benzodiazepines and Cocaine', 'Drug use including cocaine',
       'Ethanol and Fentanyl Use', 'Drug use including protonitazene',
       'Ingested Sedating Medication and Alcohol',
       'Used Ethanol and Benzodiazepines', 'used drugs',
       'Burned Charcoal While Intoxicated',
       'drug use Including Cocaine and Methadone', 'Substance Use.',
       'Used methamphetamine', 'Medication Overuse', 'Substance use.',
       'Drug Use Including Fentanyl',
       'Drug and ethanol use, medication misuse',
       'Ingested alcohol and medication',
       'Used drugs including fentanyl and methamphetamine',
       'injected crushed pills into picc line',
       'Used Alcohol and Sedating Medications',
       'Fall with cocaine and ethanol use', 'Substance/Medication Misuse',
       'Methadone overuse', 'Used drugs including fentanyl and cocaine',
       'Misuse of Medications and Ethanol',
       'Drug Use Including Fentanyl and Cocaine)',
       'Used drugs including cocaine', 'Took medication with alcohol',
       'Drug use including cocaine and fentanyl',
       'Cocaine use and medication misuse', 'Use Fentanyl and Ethanol',
       'Used Fentanyl and Cocaine', 'Took excess methadone',
       'Drug Use Including Fentanyl and Cocaine',
       'Used Fentanyl and Acetyl Fentanyl', 'Drug Use including Fentanyl',
       "Took Other's Medication With Alcohol",
       'Inhaled Electronics Duster Can Fumes',
       'Took medications with alcohol', 'Inhaled propellant gas',
       'Used Fentanyl and Clonazepam', 'Ethanol and Benzodiazepine Use',
       'Used Frugs', 'Used Fentanyl and Xylazine', 'Drug and ethanol Use',
       'Used Cocaine and Ethanol'], dtype=object)

#**Data Preprocessing**

Grouping Date and Removing Date Type

In [93]:
ddeath.drop(['Date Type'], axis=1, inplace=True)

In [94]:
ddeath['Date'] = pd.to_datetime(ddeath['Date'])

In [95]:
# Change Date Values to Year and rename to YOD (year of death)
ddeath['YOD'] = ddeath['Date'].dt.year
ddeath.drop(['Date'], axis=1, inplace=True)
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD
0,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012
1,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012
2,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014
3,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014
4,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016

**Grouping and Encoding Age**

In [96]:
minimum_age= drug['Age'].min()
maximum_age= drug['Age'].max()
print("Minimum Age:", minimum_age)
print("Maximum Age:", maximum_age)

Minimum Age: 13.0
Maximum Age: 87.0

In [97]:
# Define bins
bins = list(range(10, 100, 10))  # Creates bins from 10 to 90 with 10-year intervals
labels = [f"{bins[i]} - {bins[i+1]-1}" for i in range(len(bins)-1)]  # Labels for groups

# Create a new column with age groups
ddeath['Age Group'] = pd.cut(ddeath['Age'], bins=bins, labels=labels, right=True)
# Display grouped counts
print(ddeath['Age Group'].value_counts().sort_index())

Age Group
10 - 19     147
20 - 29    1909
30 - 39    3021
40 - 49    2760
50 - 59    2881
60 - 69    1163
70 - 79      94
80 - 89       4
Name: count, dtype: int64

In [98]:
# Age Group Encoding
# Create a mapping for encoding
age_encoding = {label: idx + 1 for idx, label in enumerate(labels)}
# Encode Age Group column
ddeath['Age Group Encoded'] = ddeath['Age Group'].map(age_encoding)
# Drop other age columns
ddeath = ddeath.drop(columns=['Age Group'], errors='ignore') # keep Age column for Transformation
# Display encoded values count
print(ddeath[['Age Group Encoded']].value_counts().sort_index())

Age Group Encoded
1                     147
2                    1909
3                    3021
4                    2760
5                    2881
6                    1163
7                      94
8                       4
Name: count, dtype: int64

**Encoding Sex (Binary Encoding)**

In [99]:
# 'Male' will be 1, 'Female' will be 0, Null values will be -1
if 'Sex' in ddeath.columns:
    ddeath['Sex'] = (
        ddeath['Sex']
        .astype(str).str.strip()
        .map({'Male': 1, 'Female': 0})
        .fillna(-1)  # Fill NaNs with a placeholder
        .astype(int)
    )
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,White,NaN,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,White,NaN,BALTIC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

Race Column Entry Rename

In [100]:
# Define NIH race categories mapping
nih_race_mapping = {
    "Korean": "Asian",
    "American Indian or Alaska Native": "American Indian or Alaska Native",
    "Other Asian (Specify)": "Asian",
    "Other (Specify) Puerto Rican": "Hispanic or Latino",
    "Other (Specify) Portuguese, Cape Verdean": "White / Black (depends on self-identification)",
    "Other (Specify) Haitian": "Black or African American",
    "Hawaiian": "Native Hawaiian or Other Pacific Islander",
    "Native American, Other": "American Indian or Alaska Native",
    "Black or African American / American Indian Lenni Lenape": "Mixed (Black & American Indian)",
    "Asian": "Asian",
    "Chinese": "Asian",
    "Asian/Indian": "Asian",
    "Other Asian": "Asian",
    "Other (Specify)": "Unknown or Not Reported",
    "Asian, Other": "Asian",
    "Asian Indian": "Asian",
    "Other": "Unknown or Not Reported",
    "Unknown": "Unknown or Not Reported",
    "Black": "Black or African American",
    "Black or African American": "Black or African American",
    "White": "White"
}
# Update the 'Race' column with NIH classifications
ddeath["Race"] = ddeath["Race"].map(lambda x: nih_race_mapping.get(str(x).strip(), "Unknown or Not Reported"))
ddeath.head()

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,Black or African American,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,White,NaN,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,White,NaN,BALTIC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

Ethnicity Column Entry Rename

In [101]:
# Define a mapping for ethnicity classification
ethnicity_mapping = {
    "nan": "Unknown",
    "Unknown": "Unknown",
    "Spanish/Hispanic/Latino": "Spanish/Hispanic/Latino",
    "Hispanic": "Spanish/Hispanic/Latino",
    "Other Spanish/Hispanic/Latino": "Spanish/Hispanic/Latino",
    "Yes, Other Spanish/Hispanic/Latino (Specify)": "Spanish/Hispanic/Latino",
    "Puerto Rican": "Spanish/Hispanic/Latino",
    "Yes, other Spanish/Hispanic/Latino": "Spanish/Hispanic/Latino",
    "Yes, Puerto Rican": "Spanish/Hispanic/Latino",
    "Mexican, Mexican American, Chicano": "Spanish/Hispanic/Latino",
    "Yes, Mexican, Mexican American, Chicano": "Spanish/Hispanic/Latino",
    "Cuban": "Spanish/Hispanic/Latino",
    "No, not Spanish/Hispanic/Latino": "Not Spanish/Hispanic/Latino",
    "Not Spanish/Hispanic/Latino": "Not Spanish/Hispanic/Latino"
 }
# Apply mapping to the 'Ethnicity' column
ddeath["Ethnicity"] = ddeath["Ethnicity"].map(lambda x: ethnicity_mapping.get(str(x).strip(), "Unknown"))
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,Black or African American,Unknown,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,White,Unknown,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,White,Unknown,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,White,Unknown,BALTIC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,White,Unknown,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

**Encoding Race Column (One Hot Encoding)**

In [102]:
race_numeric_mapping = {
    "Unknown or Not Reported": 0,
    "American Indian or Alaska Native": 1,
    "Black or African American": 2,
    "Asian": 3,
    "Native Hawaiian or Other Pacific Islander": 4,
    "White": 5,
    "Mixed (Black & American Indian)": 6
 }
# Apply mapping to Race column
ddeath["Race"] = ddeath["Race"].map(lambda x: race_numeric_mapping.get(str(x).strip(), 0))
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,2,Unknown,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,5,Unknown,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,5,Unknown,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,5,Unknown,BALTIC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,5,Unknown,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

**Encoding Ethnicity Column (One Hot Encoding)**

In [103]:
ethnicity_numeric_mapping = {
 "Unknown": 0,
 "Not Spanish/Hispanic/Latino": 1,
 "Spanish/Hispanic/Latino": 2
 }
# Apply mapping to Ethnicity column
ddeath["Ethnicity"] = ddeath["Ethnicity"].map(lambda x: ethnicity_numeric_mapping.get(str(x).strip(), 0))
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,2,0,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,5,0,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,5,0,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,5,0,BALTIC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,5,0,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

**Binary Encoding Drug Columns**

In [104]:
# List of drug-related columns
drug_columns = [
    "Heroin", "Heroin death certificate (DC)", "Cocaine", "Fentanyl", "Fentanyl Analogue",
    "Oxycodone", "Oxymorphone", "Ethanol", "Hydrocodone", "Benzodiazepine", "Methadone",
    "Meth/Amphetamine", "Amphet", "Tramad", "Hydromorphone", "Morphine (Not Heroin)",
    "Xylazine", "Gabapentin", "Opiate NOS", "Heroin/Morph/Codeine", "Other","Other Opioid" ,"Any Opioid"
 ]
# Convert NaN to 0 and 'Y' to 1
for col in drug_columns:
    if col in ddeath.columns:
        ddeath[col] = ddeath[col].apply(lambda x: 1 if x == 'Y' else 0)
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,2,0,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,0,0,0,0,0,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,5,0,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,0,0,0,0,0,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,5,0,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,0,0,0,0,0,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,5,0,BALTIC,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,5,0,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,0,0,0,1,0,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

**Description of Injury Mapping**

In [105]:
# Define mapping for different categories of drug use and related features
Description_of_Injury_mapping = {
    # Drug Use (General)
    "Drug use": "Drug Use (General)",
    "Used Drugs": "Drug Use (General)",
    "Drug Abuse": "Drug Use (General)",
    "drug use": "Drug Use (General)",
    "multiple drug use": "Drug Use (General)",
    "Used illicit drugs": "Drug Use (General)",
    "Used Opiates": "Drug Use (General)",
    "DrugUse": "Drug Use (General)",
    "Used illicit and prescription drugs": "Drug Use (General)",
    "Substance use disorder": "Drug Use (General)",

    # Specific Drug Use - Cocaine
    "Used Cocaine": "Cocaine Use",
    "Cocaine use": "Cocaine Use",
    "Used cocaine": "Cocaine Use",
    "Recent cocaine use": "Cocaine Use",
    "Usage of Cocaine and Heroin": "Cocaine & Heroin Use",
    "Used Cocaine and Heroin": "Cocaine & Heroin Use",
    "Took cocaine": "Cocaine Use",

    # Specific Drug Use - Heroin
    "Used Heroin": "Heroin Use",
    "Heroin Overdose": "Heroin Use",
    "Heroin use": "Heroin Use",
    "Acute Heroin Toxicity": "Heroin Use",

    # Specific Drug Use - Fentanyl
    "Used fentanyl": "Fentanyl Use",
    "Took fentanyl": "Fentanyl Use",
    "Fentanyl Use": "Fentanyl Use",
    "Took Fentanyl and Ethanol": "Fentanyl & Alcohol Use",
    "Misuse of Fentanyl Patch": "Fentanyl Use",

    # Specific Drug Use - Methadone
    "Used Methadone": "Methadone Use",
    "Used methadone": "Methadone Use",
    "Used Methanone and Ethanol": "Methadone & Alcohol Use",

    # Specific Drug Use - Oxycodone
    "Used Oxycodone": "Oxycodone Use",
    "Ingested Oxycodone and Alcohol": "Oxycodone & Alcohol Use",
    "Used oxycodone": "Oxycodone Use",

    # Specific Drug Use - Morphine
    "Used Morphine and Ethanol": "Morphine & Alcohol Use",
    "USED MORPHINE": "Morphine Use",

    # Specific Drug Use - Hydrocodone
    "Used Hydrocodone": "Hydrocodone Use",
    "Used Methadone and Hydrocodone": "Methadone & Hydrocodone Use",

    # Specific Drug Use - Benzodiazepines
    "Fentanyl and Benzodiazepine Use": "Benzodiazepine Use",
    "Alcohol and Benzodiazepine use": "Benzodiazepine & Alcohol Use",

    # Prescription/Medication Abuse
    "Prescription Medicine Abuse": "Prescription Abuse",
    "Prescription drug use": "Prescription Abuse",
    "Abused prescription medications": "Prescription Abuse",
    "Prescription Medication Abuse": "Prescription Abuse",
    "prescription medication abuse": "Prescription Abuse",
    "Prescription Medicine Misuse": "Prescription Abuse",
    "Medication Misuse": "Prescription Abuse",
    "Took prescription medication": "Prescription Abuse",
    "Used prescription medications": "Prescription Abuse",
    "Took prescribed medications": "Prescription Abuse",
    "Took prescription medications, synthetic opioid, and ethanol": "Prescription & Synthetic Opioid Use",
    "Used multiple medications": "Multiple Medication Use",
    "Used Multiple Medications": "Multiple Medication Use",
    "Took multiple medications": "Multiple Medication Use",
    "Ingested multiple medications": "Multiple Medication Use",

    # Substance Abuse (General)
    "Substance abuse": "Substance Abuse",
    "Substance Abuse": "Substance Abuse",
    "Substance sue": "Substance Abuse",
    "Substance Use": "Substance Abuse",
    "Substances Abuse": "Substance Abuse",
    "Substance Abuse Including Intravenous Injection": "Substance Abuse & Injection",
    "Substance Abuse Including Injection of Heroin": "Substance Abuse & Heroin Injection",
    "Acute and Chronic Substance Use": "Chronic Substance Abuse",
    "Acute and chronic substance use disorder": "Chronic Substance Abuse",

    # Alcohol and Drug Combination
    "Used alcohol and mitragynine": "Alcohol & Drug Combination",
    "Consumed ethanol with prescription medications": "Alcohol & Drug Combination",
    "Combined Alcohol and Medications": "Alcohol & Drug Combination",
    "Took ethanol and fentanyl": "Alcohol & Drug Combination",
    "Combined medication and substance ingestion": "Alcohol & Drug Combination",
    "Alcohol and substance abuse": "Alcohol & Drug Combination",
    "Ingested Multiple Medications and Alcohol": "Alcohol & Drug Combination",
    "Took medications and alcohol": "Alcohol & Drug Combination",
    "Alcohol and Medication Ingestion": "Alcohol & Drug Combination",
    "Combined alcohol and medication": "Alcohol & Drug Combination",

    # Route of Administration
    "Ingestion": "Ingestion",
    "Ingested drugs": "Ingestion",
    "Ingested medications": "Ingestion",
    "Ingested prescription medication": "Ingestion",
    "Injection": "Injection",
    "substance abuse (injection)": "Injection",
    "Intravenous drug abuse": "Injection",
    "Inhalation": "Inhalation",
    "Inhalation/Ingestion": "Inhalation & Ingestion",
    "Huffed Propellant": "Inhalation",
    "Used Fentanyl Patches": "Dermal Absorption",
    "Transdermal Absorption": "Dermal Absorption",

    # Overdose/Toxicity
    "Accidental Drug Overdose": "Toxicity",
    "Overdose": "Toxicity",
    "Acute and Chronic Alcohol/Substance Use Disorder": "Toxicity",
    "Toxic effects of ethanol and fentanyl": "Toxicity",
    "Toxic effects of ethanol and prescription medications": "Toxicity",

    # Unusual Cases
    "Drowned In Hot Tub While Intoxicated": "Unusual Case",
    "Drowned In Bathtub": "Unusual Case",
    "Submerged in bathtub while intoxicated": "Unusual Case",
    "Collapsed with trash can and plastic bag over face while intoxicated": "Unusual Case",
    "Swallowed bag of drug while in police custody": "Unusual Case",

    # Unknown/Missing Data
    "Unknown": "Reason Unknown",
    None: "Reason Unknown",
    float("nan"): "Reason Unknown"
}

# Update the feature column with mapped values
ddeath["Description of Injury"] = ddeath["Description of Injury"].map(lambda x: Description_of_Injury_mapping.get(str(x).strip(), "Reason Unknown"))
ddeath.head()

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,2,0,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,0,0,0,0,0,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,5,0,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,0,0,0,0,0,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,5,0,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,0,0,0,0,0,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,5,0,BALTIC,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,5,0,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,0,0,0,1,0,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

In [106]:
# Numeric Encoding for Description of Injury
# Create a numeric mapping for "Description of Injury"
injury_numeric_mapping = {
    "Reason Unknown": 0,
    "Drug Use (General)": 1,
    "Cocaine Use": 2,
    "Heroin Use": 3,
    "Fentanyl Use": 4,
    "Methadone Use": 5,
    "Methadone and Alcohol Use": 6,
    "Oxycodone Use": 7,
    "Morphine & Alcohol Use": 8,
    "Morphine Use": 9,
    "Hydrocodone Use": 10,
    "Methadone & Hydrocodone Use": 11,
    "Benzodiazepine Use": 12,
    "Prescription Abuse": 13,
    "Prescription & Synthetic Opioid Use": 14,
    "Multiple Medication Use": 15,
    "Substance Abuse": 16,
    "Substance Abuse & Injection": 17,
    "Substance Abuse & Heroin Injection": 18,
    "Chronic Substance Abuse": 19,
    "Alcohol & Drug Combination": 20,
    "Ingestion": 21,
    "Injection": 22,
    "Inhalation": 23,
    "Inhalation & Ingestion": 24,
    "Dermal Absorption": 25,
    "Toxicity": 26
}

# Apply mapping to "Description of Injury" column
ddeath["Description of Injury"] = ddeath["Description of Injury"].map(lambda x: injury_numeric_mapping.get(str(x).strip(), 0))

# Display the first 5 rows
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded
0,37.0,1,2,0,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,0,0,0,0,0,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3
1,37.0,1,5,0,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,0,0,0,0,0,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3
2,28.0,1,5,0,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,0,0,0,0,0,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2
3,26.0,0,5,0,BALTIC,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2
4,41.0,1,5,0,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,0,0,0,1,0,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4

**Encoding Cause of Death**

In [107]:
ddeath['Cause of Death'].isnull().sum()

0

In [108]:
# Combining Cause of Death and Other Significant Conditions columns
ddeath['COD'] = ddeath['Cause of Death'].astype(str) + ' | ' + ddeath['Other Significant Conditions '].astype(str)
ddeath.drop(['Cause of Death', 'Other Significant Conditions '], axis=1, inplace=True)

In [109]:
drug['Cause of Death'].str.lower().str.contains('toxi|intox|combined|abuse|substance use|heroin|coc|fentanyl|oxycodone|oxymorphone|ethanol|hydrocodone|benzodiazepine|methadone|meth|amphetamin')

0         True
1         True
2         True
3         True
4         True
         ...
11976    False
11977     True
11978    False
11979     True
11980     True
Name: Cause of Death, Length: 11981, dtype: bool

In [110]:
#total of people who died from heart disease
drug['Cause of Death'].str.lower().str.contains('cardio|pulmo|artery|aneurysm|atrial', na=False, regex=True).sum()

156

In [111]:
#total of people who died from lung related issue
drug['Cause of Death'].str.lower().str.contains('asthma|lung|inhal|respi|broncho|pneumonia|pleural', na=False, regex=True).sum()

40

In [112]:
#total of people who died from diabetic
drug['Cause of Death'].str.lower().str.contains('diab|ketoacidosis', na=False, regex=True).sum()

18

In [113]:
# Creating new columns based on keyword matches
ddeath['CODintoxi'] = ddeath['COD'].str.lower().str.contains('toxi|intox|combined|abuse|substance use|heroin|coc|fentanyl|oxycodone|oxymorphone|ethanol|hydrocodone|benzodiazepine|methadone|meth|amphetamin')

ddeath['CODcardio'] = ddeath['COD'].str.lower().str.contains('cardio|pulmo|artery|aneurysm|atrial', na=False, regex=True).astype(int)

ddeath['CODlung'] = ddeath['COD'].str.lower().str.contains('asthma|lung|inhal|respi|broncho|pneumonia|pleural', na=False, regex=True).astype(int)

ddeath['CODdiabatic'] = ddeath['COD'].str.lower().str.contains('diab|ketoacidosis', na=False, regex=True).astype(int)

# CODother = 1 if none of the above conditions are met
ddeath['CODother'] = (1 - (ddeath['CODintoxi'] + ddeath['CODcardio'] + ddeath['CODlung'] + ddeath['CODdiabatic']).clip(0, 1))

# Drop Cause of Death column
ddeath.drop('COD', axis=1, inplace=True)

# Display the first few rows to verify
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo,YOD,Age Group Encoded,CODintoxi,CODcardio,CODlung,CODdiabatic,CODother
0,37.0,1,2,0,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)",2012,3,True,0,0,0,0
1,37.0,1,5,0,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)",2012,3,True,0,0,0,0
2,28.0,1,5,0,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)",2014,2,True,0,0,0,0
3,26.0,0,5,0,BALTIC,NaN,NaN,NaN,NaN,NaN,...,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)",2014,2,True,0,0,0,0
4,41.0,1,5,0,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)",2016,4,True,0,0,0,0

**Latitude and Longitude**

In [114]:
# Function to extract latitude and longitude
def extract_lat_lon(geo_value):
    if pd.isna(geo_value):
        return None, None  # Keep NaN values as they are
    try:
        lat_lon = geo_value.split('\n')[-1]  # Extract last part containing coordinates
        lat, lon = lat_lon.strip("()").split(",")  # Remove parentheses and split
        return float(lat.strip()), float(lon.strip())  # Convert to float
    except:
        return None, None  # Return None if format is incorrect
geo_columns = ['ResidenceCityGeo', 'InjuryCityGeo', 'DeathCityGeo']

# Apply function and create new LAT & LON columns
for col in geo_columns:
    lat_col = col.replace("Geo", "LAT")
    lon_col = col.replace("Geo", "LON")
    ddeath[lat_col], ddeath[lon_col] = zip(*ddeath[col].apply(extract_lat_lon))



# Display updated DataFrame with new LAT and LON columns
print(ddeath[['ResidenceCityLAT', 'ResidenceCityLON', 'InjuryCityLAT', 'InjuryCityLON', 'DeathCityLAT', 'DeathCityLON']].head())

   ResidenceCityLAT  ResidenceCityLON  InjuryCityLAT  InjuryCityLON  \
0         41.051924        -73.539475      41.051924     -73.539475
1         41.524304        -72.075821      41.524304     -72.075821
2         41.658069        -72.366324      41.658069     -72.366324
3         41.617221        -72.085031      41.575155     -72.738288
4         41.316843        -73.092968      41.316843     -73.092968

   DeathCityLAT  DeathCityLON
0     41.575155    -72.738288
1     41.524304    -72.075821
2     41.632043    -72.461309
3     41.617221    -72.085031
4     41.179195    -73.189476

#**Data Transformation**

Most of the columns are encoded into 0 and 1 which are normalized. Normalizing Age is necessary in this case.

In [115]:
# Initialize the scaler
scaler = StandardScaler()
# Apply standardization to the 'Age' column
ddeath['Age Standardized'] = scaler.fit_transform(ddeath[['Age']])
ddeath.head(5)

,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,Injury County,Injury State,...,CODlung,CODdiabatic,CODother,ResidenceCityLAT,ResidenceCityLON,InjuryCityLAT,InjuryCityLON,DeathCityLAT,DeathCityLON,Age Standardized
0,37.0,1,2,0,STAMFORD,FAIRFIELD,NaN,STAMFORD,NaN,CT,...,0,0,0,41.051924,-73.539475,41.051924,-73.539475,41.575155,-72.738288,-0.553005
1,37.0,1,5,0,NORWICH,NEW LONDON,NaN,NORWICH,NaN,CT,...,0,0,0,41.524304,-72.075821,41.524304,-72.075821,41.524304,-72.075821,-0.553005
2,28.0,1,5,0,HEBRON,NaN,NaN,HEBRON,NaN,CT,...,0,0,0,41.658069,-72.366324,41.658069,-72.366324,41.632043,-72.461309,-1.262877
3,26.0,0,5,0,BALTIC,NaN,NaN,NaN,NaN,NaN,...,0,0,0,41.617221,-72.085031,41.575155,-72.738288,41.617221,-72.085031,-1.420626
4,41.0,1,5,0,SHELTON,FAIRFIELD,CT,SHELTON,NaN,NaN,...,0,0,0,41.316843,-73.092968,41.316843,-73.092968,41.179195,-73.189476,-0.237506

**Data Reduction**

In [116]:
ddeath.columns

Index(['Age', 'Sex', 'Race', 'Ethnicity', 'Residence City', 'Residence County',
       'Residence State', 'Injury City', 'Injury County', 'Injury State',
       'Injury Place', 'Description of Injury', 'Death City', 'Death County',
       'Death State', 'Location', 'Location if Other', 'Manner of Death',
       'Heroin', 'Heroin death certificate (DC)', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Meth/Amphetamine',
       'Amphet', 'Tramad', 'Hydromorphone', 'Morphine (Not Heroin)',
       'Xylazine', 'Gabapentin', 'Opiate NOS', 'Heroin/Morph/Codeine',
       'Other Opioid', 'Any Opioid', 'Other', 'ResidenceCityGeo',
       'InjuryCityGeo', 'DeathCityGeo', 'YOD', 'Age Group Encoded',
       'CODintoxi', 'CODcardio', 'CODlung', 'CODdiabatic', 'CODother',
       'ResidenceCityLAT', 'ResidenceCityLON', 'InjuryCityLAT',
       'InjuryCityLON', 'DeathCityLAT', 'DeathCityLON', 'Age Standardized'],
      dtype='object')

In [117]:
#Dropping certain columns
ddeath.drop(['Residence County', 'Injury Place', 'Injury County', 'Death County', 'Location', 'Location if Other'], axis=1, inplace=True)

In [118]:
drug['Heroin death certificate (DC)'].value_counts()

Heroin death certificate (DC)
Y    740
Name: count, dtype: int64

In [119]:
ddeath['CODintoxi'] = ddeath['CODintoxi'] | (ddeath['Heroin death certificate (DC)'] == 'Y').astype(int)

In [120]:
ddeath.drop('Heroin death certificate (DC)', axis=1, inplace=True)

In [121]:
drug['Manner of Death'].value_counts()

Manner of Death
Accident     11942
Pending         14
accident        13
ACCIDENT         1
Natural          1
Acciddent        1
Name: count, dtype: int64

In [122]:
drug['Manner of Death'].isnull().sum()

9

In [123]:
# Remove rows where 'Manner of Death' is 'natural' or 'pending'
ddeath = ddeath[~ddeath['Manner of Death'].str.lower().isin(['natural', 'pending'])]

# Explicitly drop NaN values from 'Manner of Death'
ddeath = ddeath.dropna(subset=['Manner of Death'])

ddeath['Manner of Death'].value_counts()

Manner of Death
Accident     11942
accident        13
ACCIDENT         1
Acciddent        1
Name: count, dtype: int64

In [124]:
ddeath['Manner of Death'].isnull().sum()

0

In [125]:
ddeath.drop('Manner of Death', axis=1, inplace=True)

In [126]:
ddeath.drop(['Injury City', 'Injury State'], axis=1, inplace=True)

In [127]:
print("Sum Null Values in Residence City:   ",ddeath['Residence City'].isnull().sum())
print("Sum Null Values in Residence State:  ",ddeath['Residence State'].isnull().sum())
print("Sum Null Values in Death City:       ",ddeath['Death City'].isnull().sum())
print("Sum Null Values in Death State:      ",ddeath['Death State'].isnull().sum())

Sum Null Values in Residence City:    595
Sum Null Values in Residence State:   1971
Sum Null Values in Death City:        2784
Sum Null Values in Death State:       5092

In [128]:
ddeath.drop(['Residence State', 'Death State'], axis=1, inplace=True)

In [129]:
ddeath.drop('Heroin/Morph/Codeine', axis=1, inplace=True)

Comparing the number of columns after removal with the original dataset

In [130]:
newDataset = ddeath.shape
oldDataset = drug.shape
print("New: ", newDataset)
print("Old: ", oldDataset)

New:  (11957, 45)
Old:  (11981, 48)

In [131]:
ddeath.columns

Index(['Age', 'Sex', 'Race', 'Ethnicity', 'Residence City',
       'Description of Injury', 'Death City', 'Heroin', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Meth/Amphetamine',
       'Amphet', 'Tramad', 'Hydromorphone', 'Morphine (Not Heroin)',
       'Xylazine', 'Gabapentin', 'Opiate NOS', 'Other Opioid', 'Any Opioid',
       'Other', 'ResidenceCityGeo', 'InjuryCityGeo', 'DeathCityGeo', 'YOD',
       'Age Group Encoded', 'CODintoxi', 'CODcardio', 'CODlung', 'CODdiabatic',
       'CODother', 'ResidenceCityLAT', 'ResidenceCityLON', 'InjuryCityLAT',
       'InjuryCityLON', 'DeathCityLAT', 'DeathCityLON', 'Age Standardized'],
      dtype='object')

In [132]:
ddeath.head(10)

,Age,Sex,Race,Ethnicity,Residence City,Description of Injury,Death City,Heroin,Cocaine,Fentanyl,...,CODlung,CODdiabatic,CODother,ResidenceCityLAT,ResidenceCityLON,InjuryCityLAT,InjuryCityLON,DeathCityLAT,DeathCityLON,Age Standardized
0,37.0,1,2,0,STAMFORD,2,NaN,0,1,0,...,0,0,0,41.051924,-73.539475,41.051924,-73.539475,41.575155,-72.738288,-0.553005
1,37.0,1,5,0,NORWICH,0,NORWICH,1,0,0,...,0,0,0,41.524304,-72.075821,41.524304,-72.075821,41.524304,-72.075821,-0.553005
2,28.0,1,5,0,HEBRON,0,MARLBOROUGH,1,0,0,...,0,0,0,41.658069,-72.366324,41.658069,-72.366324,41.632043,-72.461309,-1.262877
3,26.0,0,5,0,BALTIC,0,BALTIC,1,0,0,...,0,0,0,41.617221,-72.085031,41.575155,-72.738288,41.617221,-72.085031,-1.420626
4,41.0,1,5,0,SHELTON,0,BRIDGEPORT,0,0,1,...,0,0,0,41.316843,-73.092968,41.316843,-73.092968,41.179195,-73.189476,-0.237506
5,57.0,1,5,0,BLANDFORD,0,ENFIELD,0,1,0,...,0,0,0,NaN,NaN,41.976501,-72.591985,41.976501,-72.591985,1.024488
6,26.0,1,5,0,DANBURY,0,DANBURY,0,0,0,...,0,0,0,41.393666,-73.451539,41.393666,-73.451539,41.393666,-73.451539,-1.420626
7,64.0,1,5,0,MILFORD,21,MILFORD,0,0,0,...,0,0,0,41.224276,-73.057564,41.224276,-73.057564,41.224276,-73.057564,1.576611
8,33.0,1,0,0,NaN,0,HARTFORD,0,1,0,...,0,0,0,41.575155,-72.738288,41.765775,-72.673356,41.765775,-72.673356,-0.868504
9,23.0,1,5,0,BETHEL,23,BETHEL,1,0,0,...,0,0,0,41.371727,-73.407448,41.371727,-73.407448,41.371727,-73.407448,-1.657250

In [133]:
drug['Other'].unique()

array([nan, '2-A', 'Bupren', 'ketamine', 'HYDROMORPH', 'SERT', 'PCP',
       'morphine RX', 'pcp', 'diphen, chlorphen', 'BUPREN', 'MORPH',
       'morphine', 'bupren', 'mitragine', 'codeine', 'Bupreno',
       'Xylazine', 'opiates', 'Morphine', 'methoxyPCP', 'KETAMINE',
       'U-47700', 'carfentanil', 'H-MORPH', 'BUPRE', 'MORPH NOS',
       'opiate', 'hydromorph', 'buprop', 'Hydromorph',
       'PCP, N-ETHYL-PENTYLONE', 'Buprenor', 'DIPHENHYDRAMINE, ZOLPIDEM',
       'COD', 'Buprenophine', 'OTHERS', 'MORPHINE', 'PCP, Buprenor',
       'MORPH PCP', 'PCP, HYDROMORPH', 'HYDROM', 'MDMA', 'Opiate screen',
       'LOPERAMIDE', 'bath salt', 'others', 'snorted', 'MDMA, PCP', 'KET',
       'DIFLURO', 'difluro, bupren', 'HYROMORPH', 'difluoroeth',
       'OPIATE IN HOSP?', 'Difluro', 'OPIATE', 'OPIOID NOS', 'CATHINONE',
       'meperidine', 'Buprnor', 'propofol', 'DIFLOURO', 'MORPH/COD',
       'GHB', 'Ketamine', 'BUTALBITAL', 'duster', 'difluror',
       'Doxy, phenobarb', 'DIPHENHYDRAMINE', 'hydromorp', 'DOX, DIPHEN',
       'Xylazine, PCP', 'HYDR-MOR', 'Duster', 'N-ETHYL-PENTYLONE',
       'Difluor', 'MDMA, Bupren', 'BUPRENOR', 'pos 6-mam',
       'opiate screen', 'HYDROMORPH, BUPRENOR', 'DIPHENH', 'HYDROMORP',
       'pcp. Bupren', 'PCP, MORPHINE NOS', 'DUSTER', 'difluro',
       'DIPHENHY', 'morphine no 6mam', 'MORPHINE RX', 'morphin',
       'mitragynine', 'Xylazine, bupren', '4-ANPP', 'TAPENTADOL',
       'BUPRENO', 'U-47700 synthetic opioid', 'morphine, no rx in pmp',
       '4-anpp', 'Codeine', 'Xylazine, Bupren', 'BUPRENORPHINE',
       'morphine/cod', 'ZOLP', 'tapentadol', 'Buprno', 'Mitragynine',
       'HYDRO MORPH', 'Opiate', 'QUIET', 'buprenor', 'BUPRENORP',
       'MORPHINE/HYDROMORPH', 'Bupren, HEXADRONE', 'BUPREN, DIFLUORO',
       'hyd-morph', 'CODEINE', 'PAROX', 'Buprenor, carfentanil',
       'Mirtagynine', 'opioid', 'BUPRENORPHONE', 'uk',
       'MDMA, N-ETHYL-PENTYLONE', 'MORPHIINE', 'HYDMORPH', 'BUTALB',
       'phenobarb', 'HYDRMORP', 'MEPERIDINE', 'mdma', 'DFE',
       'U-47700, carfentanil', 'MORPHINE, HYDROMORPH', 'PSEUDO',
       'lsd, hydromorph', 'BUPRENORPH', 'N-Ethyl Pentylone',
       'Rx morphine', 'zolpidem', 'TOPIRAMATE', 'mORPHINE', 'U47700',
       'Clozapine', 'Buprenorphine', 'MDMA, Buprenorphine', 'DiFluoro',
       'Protonitazene', 'Metonitazine', 'Mitrag', 'BATHSALT',
       'MDMA, LSD, Ketamine'], dtype=object)

# **Post Preprocessing Exploration**

In [134]:
ddeath.columns

Index(['Age', 'Sex', 'Race', 'Ethnicity', 'Residence City',
       'Description of Injury', 'Death City', 'Heroin', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Meth/Amphetamine',
       'Amphet', 'Tramad', 'Hydromorphone', 'Morphine (Not Heroin)',
       'Xylazine', 'Gabapentin', 'Opiate NOS', 'Other Opioid', 'Any Opioid',
       'Other', 'ResidenceCityGeo', 'InjuryCityGeo', 'DeathCityGeo', 'YOD',
       'Age Group Encoded', 'CODintoxi', 'CODcardio', 'CODlung', 'CODdiabatic',
       'CODother', 'ResidenceCityLAT', 'ResidenceCityLON', 'InjuryCityLAT',
       'InjuryCityLON', 'DeathCityLAT', 'DeathCityLON', 'Age Standardized'],
      dtype='object')

In [135]:
ddeath.isnull().sum()

Age                         2
Sex                         0
Race                        0
Ethnicity                   0
Residence City            595
Description of Injury       0
Death City               2784
Heroin                      0
Cocaine                     0
Fentanyl                    0
Fentanyl Analogue           0
Oxycodone                   0
Oxymorphone                 0
Ethanol                     0
Hydrocodone                 0
Benzodiazepine              0
Methadone                   0
Meth/Amphetamine            0
Amphet                      0
Tramad                      0
Hydromorphone               0
Morphine (Not Heroin)       0
Xylazine                    0
Gabapentin                  0
Opiate NOS                  0
Other Opioid                0
Any Opioid                  0
Other                       0
ResidenceCityGeo          167
InjuryCityGeo             257
DeathCityGeo                1
YOD                         0
Age Group Encoded           2
CODintoxi                   0
CODcardio                   0
CODlung                     0
CODdiabatic                 0
CODother                    0
ResidenceCityLAT          167
ResidenceCityLON          167
InjuryCityLAT             257
InjuryCityLON             257
DeathCityLAT                1
DeathCityLON                1
Age Standardized            2
dtype: int64

In [136]:
#Filling Missing Values
# Residence City, Death City, ResidenceCityGeo, InjuryCityGeo, ResidenceCityLAT, ResidenceCityLON, InjuryCityLAT, InjuryCityLON

# Fill missing values in 'Residence City', 'Death City' with the mode
for col in ['Residence City', 'Death City']:
    ddeath[col] = ddeath[col].fillna(ddeath[col].mode()[0])

# Fill missing geospatial data using the mean of the existing coordinates for the respective cities
for col in ['ResidenceCityGeo', 'InjuryCityGeo']:
    ddeath[col] = ddeath[col].fillna(ddeath[col].mode()[0])

# Fill missing latitude and longitude values with the mean of the existing coordinates
for col in ['ResidenceCityLAT', 'ResidenceCityLON', 'InjuryCityLAT', 'InjuryCityLON', 'DeathCityLAT', 'DeathCityLON']:
    ddeath[col] = ddeath[col].fillna(ddeath[col].mean())

# **Download File**

In [137]:
from google.colab import files

ddeath.to_csv("preprocessed_data.csv", index=False)

# Auto-download the file (works in Jupyter Notebook)
from IPython.display import Javascript

def download():
    js = """
    var link = document.createElement('a');
    link.href = 'preprocessed_data.csv';
    link.download = 'preprocessed_data.csv';
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    """
    return Javascript(js)

download()